/* reset styling */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styling */

html,
body {
  font-family: 'Poppins';
  color: #0b2f4e;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #0b2f4e;
}

a:hover {
  color: #3978ae;
}

ul {
  list-style: none;
}

::placeholder {
  color: rgb(175, 175, 175);
}

/* header styling */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(3px);
}

.nav {
  padding: 1rem 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 12rem;
}

.logo > img {
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 6rem;
  font-size: 24px;
  font-weight: 700;
}

/* hero section styling */

.hero {
  width: 100%;
  margin-top: 6rem;
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.container {
  padding-left: 7rem;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-header {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}

.description {
  width: 43vw;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.lets-connect {
  color: #3978ae;
  margin-top: 10px;
}

.social-icons {
  display: flex;
  gap: 1.2rem;
}

.hero-img {
  width: 100%;
}

.hero-img > img {
  width: 100%;
}

/* contact section styling (mobile)*/

.contact {
  width: 85%;
  margin: 0 auto;
  margin-top: 5rem;
}

.form-image {
  display: none;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.form-header {
  font-weight: 700;
  font-size: 36px;
}

.input-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-fields > input {
  height: 4rem;
}

.username,
.email,
.message {
  width: 100%;
  border-radius: 2rem;
  padding: 0 2rem;
  font-size: 18px;
  background-color: #eaeef2;
  border: none;
}

.message {
  padding-top: 1rem;
  font-family: 'Poppins';
}

.submit-btn {
  width: 100%;
  height: 4rem;
  border-radius: 2rem;
  border: none;
  background-color: #3a77ae;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

/* Desktop view styling */

@media screen and (min-width: 786px) {
  .contact {
    width: 100%;
    margin-top: 3rem;
    padding-bottom: 5rem;
    display: flex;
  }

  .form-image {
    display: block;
    width: 60%;
    display: flex;
    align-items: center;
  }

  .form-image > img {
    width: 100%;
  }

  .contact-form {
    width: 40%;
    padding-right: 7%;
    gap: 2rem;
  }

  .form-header {
    font-size: 42px;
    align-self: start;
  }

  .input-fields {
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .input-fields > input {
    height: 4rem;
  }

  .username,
  .email,
  .message {
    font-size: 20px;
  }

  

  /* footer styling */

  .footer {
    width: 100%;
    height: 5rem;
    background-color: #0b2f4e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }
}
